<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    
      <script type="text/javascript">
		$(document).ready(function(){

			$( "#activebtn" ).click(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/active',
					data: {
            val : $('#activebtn').val()
          },
					dataType: "text",
					success: function(response){
						//alert("a");
						console.log(response.Success);
						$('#activebtn')[0].reset();

         				},
         				error: function() {
                   console.log("errror");
         				}
         			})
			});
    });
    $(document).ready(function(){

$( "#inactivebtn" ).click(function(event) {
  event.preventDefault();

  $.ajax({
    type: 'POST',
    url: '/inactive',
    data: {
      val : $('#inactivebtn').val()
    },
    dataType: "text",
    success: function(response){
      //alert("a");
      console.log(response.Success);
      $('#inactivebtn')[0].reset();

           },
           error: function() {
             console.log("errror");
           }
         })
});
});

$(document).ready(function(){

$( "#deletebtn" ).click(function(event) {
  event.preventDefault();

  $.ajax({
    type: 'POST',
    url: '/delete',
    data: {
      val : $('#deletebtn').val()
    },
    dataType: "text",
    success: function(response){
      //alert("a");
      console.log(response.Success);
      $('#deletebtn')[0].reset();

           },
           error: function() {
             console.log("errror");
           }
         })
});
});
	</script>
    
<body> 
    <h1>Registered Users</h1>   
<table class="table table-striped table-primary">
        <thead>
          <tr>
            <th>Unique ID</th>
            <th>Name</th>
            <th>E-Mail ID</th>
            <th>status</th>
            
            
          </tr>
        </thead>
    <tbody>
          <%if (records.length >0){ %>
          <% records.forEach(function(row){ %>
           <tr>
            <td><%= row.unique_id %></td>
            <td><%= row.username %></td>
            <td><%= row.email %></td>
            <td><%= row.status %></td>
            <%if (row.status==0){%>
            <td>
            <button value="<%= row.unique_id %>" id="activebtn" name="<%= row.unique_id %>">Active</button>
            </td>
            <%}else{%>
              <td>
                <button value="<%= row.unique_id %>" id="inactivebtn" name="<%= row.unique_id %>">Inactive</button>
             </td>
              <%}%>
              <td>
                <button value="<%= row.unique_id %>" id="deletebtn" name="<%= row.unique_id %>">Delete</button>
             </td>
            
          </tr>
          <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td>  
              </tr>
            <% } %>
    </tbody>
    </tbody>
  </table>
</body>

  </html>
  